<h1>Books</h1>

<tabele>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>リーダブルコード</td>
      <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
    </tr>
    <tr>
      <td>トラブル知らずのシステム設計</td>
      <td>システム設計の要点や図解で説明してくれます</td>
    </tr>
  </tbody>
</tabele>
